# Day -2 (Basic Python)

In [ ]:
# Variable

a = 12

In [ ]:
True = 12  # For creating variable we should not use keywords

SyntaxError: ignored

In [ ]:
1a = 12  # For creating variable we should not start with numerical values

SyntaxError: ignored

In [ ]:
name1='Hari'
name2='Srikanth'

In [ ]:
_1a = 12

In [ ]:
$a =10  # Should not use a special char for creating avariable

SyntaxError: ignored

In [ ]:
# Comments

a = 12 # a represents age

In [ ]:
# fgndgh

In [ ]:
# this is my 1st cmt  ---->Single line comment
this is my 2nd cmt

SyntaxError: ignored

In [ ]:
'''this is my 1st cmt   ----> Multi-line comment
this is my 2nd cmt'''

'this is my 1st cmt\nthis is my 2nd cmt'

In [ ]:
# Statements

a = 10+12
print(a)

22

In [ ]:
a = 10+12
-11
print(a)

22

In [ ]:
# Meaning of '\' is continue to the next line

a = 10+12\
-11

print(a)

11

In [ ]:
# Meaning of '\' is continue to the next line

a = 10+12\
-11\
+1\
-10

print(a)

2

In [ ]:
# Data Type

# Numeric type

var_1 = 10
var_2 = 10.12
var_3 = 10+2J

print(type(var_1))
print(type(var_2))
print(type(var_3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Task: Variable var_1 data type is int

In [ ]:
print('Variable var_1 data type is '+str(type(var_1)))

Variable var_1 data type is <class 'int'>

In [ ]:
1+2

3

In [ ]:
'q'+'e'

'qe'

In [ ]:
1+'q' # It's not possible to add a string with other data types

TypeError: ignored

In [ ]:
# Sequence type

# List (Ordered, Mutable, Allow duplicates)

list1 = ['Hi',1,2,'Hari','Raj',12.78888]

In [ ]:
list1

['Hi', 1, 2, 'Hari', 'Raj', 12.78888]

In [ ]:
# list = [1, 2, 'Hari', 'Raj', 12.78888]

#         0  1    2       3        4  Pos Index
#        -5 -4   -3      -2       -1  Neg Index

In [ ]:
# Indexing 

list1[2] # Pos Index

list1[-3] # Neg Index

'Hari'

In [ ]:
# Slicing

list1[1:4] # Pos Slicing

list1[-4:-1] # Neg Slicing

[2, 'Hari', 'Raj']

In [ ]:
list1

['Hi', 1, 2, 'Hari', 'Raj', 12.78888]

In [ ]:
# Mutable

list1[0]="Hello"

In [ ]:
list1

['Hello', 1, 2, 'Hari', 'Raj', 12.78888]

In [ ]:
a = [1,1,1,2] # Allowing dup

In [ ]:
a

[1, 1, 1, 2]

In [ ]:
# Tuples (ordered, indexing, slicing, immutable, allows deplicates)

tup = (1, 'Hari', 12.44)
tup

(1, 'Hari', 12.44)

In [ ]:
tup[1]

'Hari'

In [ ]:
tup[1:3]

('Hari', 12.44)

In [ ]:
tup[1] = 'Saumya'

TypeError: ignored

In [ ]:
a,b = 'Hi',"Hello"

type(a),type(b)

(str, str)

In [ ]:
tup = (1, 'Hari', 12.44,1,1)
tup

(1, 'Hari', 12.44, 1, 1)

In [ ]:
# Set (Doesn't allow duplicates, un-ordered, No indexing & slicing, immutable)

st = {1,1,'Hari','Srikanth',12.745,'Saumya',12.7,'Hari','Raju'}
st

{1, 12.7, 12.745, 'Hari', 'Raju', 'Saumya', 'Srikanth'}

In [ ]:
st[1]

TypeError: ignored